body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $text-color;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
}
