.navigation {
  @include for-size(phone-only) {
    display: none;
    position: absolute;
    top: -40px;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    padding-top: 118px;
    padding-left: 40px;
  }
}

.navigation.is-open {
  display: block;
}

.header {
  width: 100%;
  max-width: 480px;

  padding-left: 31px;
  padding-right: 31px;
  position: absolute;
  top: 40px;

  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  display: block;
}
.button-mobile-menu {
  @include for-size(tablet-up) {
    display: none;
  }

  z-index: 4;
  background-color: transparent;
  color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.button-mobile-menu.is-open {
  color: #000;
}
.icon-burger,
.icon-cross {
  fill: currentColor;
}
.icon-cross {
  opacity: 0;
}
.button-mobile-menu.is-open .icon-burger {
  opacity: 0;
}
.button-mobile-menu.is-open .icon-cross {
  opacity: 1;
}
.navigation__menu {
  margin-bottom: 64px;
}
.navigation__item:not(:last-child) {
  margin-bottom: 24px;
}

.navigation__link,
.contact-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: var(--title-color-dark);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link--active {
  color: var(--accent-color);
}

.contact-menu__link {
  text-transform: uppercase;
  margin-bottom: 24px;
  display: block;
}
