.navigation {
  display: none;
}

.header {
  width: 100%;
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  position: absolute;
  top: 40px;

  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @extend %link;
  color: #fff;
}
.button-mobile-menu {
  z-index: 4;
  background-color: transparent;
  color: #fff;
  width: 40px;
  height: 40px;
  border: none;
}
