.section-title {
  font-family: 'Raleway', sans-serif;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18x;
  letter-spacing: 0.05em;
  color: var(--title-color-dark);
  margin-bottom: 20px;
}
