.about-photo-list {
  @include for-size(phone-only) {
    display: none;
  }
  @include for-size(desktop-up) {
    display: flex;
  }
}
.first-paragraf {
  font-size: 16px;
  @include for-size(desktop-up) {
    font-size: 18px;
  }
  margin-bottom: 20px;
}
.last-paragraf {
  font-size: 14px;
  margin-bottom: 40px;
}
.about-photo-list__item:first-child {
  margin-bottom: 30px;

  @include for-size(desktop-up) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.section-title--about {
  @media screen and (max-width: 1200px) {
    font-size: 28px;
  }
}
