.header {
  width: 100%;
  max-width: 480px;

  padding-left: 31px;
  padding-right: 31px;
  position: absolute;
  top: 40px;

  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: end;

  @include for-size(tablet-up) {
    max-width: 1200px;
  }

  @include for-size(desktop-up) {
    justify-content: flex-start;
  }
}
